In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df=pd.ExcelFile("2020 Timeline of Major Events.xlsx")

In [335]:
df1=pd.read_excel(df,'Events')
df2=pd.read_excel(df,'Periods')

In [5]:
del df1['Group ID']

In [6]:
df1.dtypes

Name           object
Description    object
Time           object
dtype: object

In [7]:
df1['Name']= df1['Name'].astype('str')
df1.head()

,Name,Description,Time
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,2019 11 17
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,2019 12 31
2,Pope apologises for\nslapping woman's hand,Pope Francis has apologized for slapping a wom...,2020 1 1
3,Iranian major general Qasem \nSoleimani assass...,"On 3 January 2020, a United States drone strik...",2020 1 3
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",2020 1 6

In [611]:
df1['Time']=df1['Time'].astype('str')

In [8]:
df1[['Year','Month','Date','H','S']]=df1.Time.str.split(expand=True)
df1.head()

,Name,Description,Time,Year,Month,Date,H,S
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,2019 11 17,2019,11,17,None,None
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,2019 12 31,2019,12,31,None,None
2,Pope apologises for\nslapping woman's hand,Pope Francis has apologized for slapping a wom...,2020 1 1,2020,1,1,None,None
3,Iranian major general Qasem \nSoleimani assass...,"On 3 January 2020, a United States drone strik...",2020 1 3,2020,1,3,None,None
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",2020 1 6,2020,1,6,None,None

In [9]:
# del df1['Time']
df1.head()

,Name,Description,Time,Year,Month,Date,H,S
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,2019 11 17,2019,11,17,None,None
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,2019 12 31,2019,12,31,None,None
2,Pope apologises for\nslapping woman's hand,Pope Francis has apologized for slapping a wom...,2020 1 1,2020,1,1,None,None
3,Iranian major general Qasem \nSoleimani assass...,"On 3 January 2020, a United States drone strik...",2020 1 3,2020,1,3,None,None
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",2020 1 6,2020,1,6,None,None

In [11]:
df1['Date'] = df1[df1.columns[3:6]].apply(
    lambda x: '-'.join(x.dropna().astype(str)),
    axis=1)

In [12]:
df1.head()

,Name,Description,Time,Year,Month,Date,H,S
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,2019 11 17,2019,11,2019-11-17,None,None
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,2019 12 31,2019,12,2019-12-31,None,None
2,Pope apologises for\nslapping woman's hand,Pope Francis has apologized for slapping a wom...,2020 1 1,2020,1,2020-1-1,None,None
3,Iranian major general Qasem \nSoleimani assass...,"On 3 January 2020, a United States drone strik...",2020 1 3,2020,1,2020-1-3,None,None
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",2020 1 6,2020,1,2020-1-6,None,None

In [13]:
del df1['Year']
del df1['Time']
del df1['H']
del df1['S']

In [14]:
df1['Date'].head()
# df1['Time']=df1['Time'].replace(' ','-')

0    2019-11-17
1    2019-12-31
2      2020-1-1
3      2020-1-3
4      2020-1-6
Name: Date, dtype: object

In [15]:
listdate= df1['Date'].tolist()

In [16]:
listdate[:5]

['2019-11-17', '2019-12-31', '2020-1-1', '2020-1-3', '2020-1-6']

In [17]:
df1['Name']=df1['Name'].replace('\n',' ', regex=True)

In [18]:
df1['Description'] = df1['Description'].replace('\n','', regex=True)

In [19]:
df1.head()

,Name,Description,Month,Date
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,11,2019-11-17
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,12,2019-12-31
2,Pope apologises for slapping woman's hand,Pope Francis has apologized for slapping a wom...,1,2020-1-1
3,Iranian major general Qasem Soleimani assassi...,"On 3 January 2020, a United States drone strik...",1,2020-1-3
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",1,2020-1-6

In [20]:
df3=pd.read_csv('worldcities1.csv')

In [21]:
df3.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [22]:
cities = df3['city_ascii'].tolist()

In [23]:
desc = df1['Description'].tolist()

In [24]:
event = df1['Name'].tolist()

In [524]:
match1=[]

In [26]:
len(desc),len(cities),len(event)

(204, 26569, 204)

In [27]:
match=[]
for j in range(len(desc)):
    for i in range(len(cities)):
        if re.match(r"\bcities[i]\b", str(desc[j])):
            match1.append(cities[i])
            break

len(match1)

NameError: name 'match1' is not defined

In [28]:
match2=[]

In [29]:
for i in range(len(cities)):
#     if re.match(cities[i] ,desc[27]):
    if cities[i] in desc[28]:
        match2.append(cities[i])
        break

print(match2)

['Zagreb']

In [30]:
desc[28]

'The Croatian capital has been hit by 5.3 magnitude earthquake.Very few people were on the streets when the earthquake struck in the early hours of Sunday morning.But falling masonry from Zagreb’s historic buildings crushed parked cars and blocked roads. The tremor was felt in neighbouring Slovenia and southern Austria. (BBC)'

In [31]:
event[28]

'Zagreb, Croatia hit by largest  earthquake in 140 years (5.3M)'

In [32]:
desc[2]

'Pope Francis has apologized for slapping a woman\'s hand to free himself from her grip while greeting children and pilgrims in St. Peter\'s Square on New Year\'s Eve.The incident occurred as Pope Francis made his way to the Nativity scene in Vatican City. On Wednesday, the Pontiff apologized for losing patience with the worshiper before using his New Year\'s Day address to denounce violence against women."Love makes us patient. So many times we lose patience, even me, and I apologize for yesterday\'s bad example," he said. (CNN)'

In [33]:
desc[2].replace("\'s","'s")

'Pope Francis has apologized for slapping a woman\'s hand to free himself from her grip while greeting children and pilgrims in St. Peter\'s Square on New Year\'s Eve.The incident occurred as Pope Francis made his way to the Nativity scene in Vatican City. On Wednesday, the Pontiff apologized for losing patience with the worshiper before using his New Year\'s Day address to denounce violence against women."Love makes us patient. So many times we lose patience, even me, and I apologize for yesterday\'s bad example," he said. (CNN)'

In [34]:
df1['Date'] =  pd.to_datetime(df1['Date'])

In [35]:
df1.head()

,Name,Description,Month,Date
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,11,2019-11-17
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,12,2019-12-31
2,Pope apologises for slapping woman's hand,Pope Francis has apologized for slapping a wom...,1,2020-01-01
3,Iranian major general Qasem Soleimani assassi...,"On 3 January 2020, a United States drone strik...",1,2020-01-03
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",1,2020-01-06

In [36]:
import matplotlib
from ipywidgets import interactive,interact, HBox, Layout,VBox

In [37]:
import datetime

a = '2010-01-31'

datee = datetime.datetime.strptime(a, "%Y-%m-%d")

In [38]:
datee.month

1

In [61]:
date_list = df1['Date'].tolist()
for i in range(len(date_list)):
    date_list[i] = datetime.datetime.strptime(date_list[i],"%Y-%m-%d")

date_list

TypeError: strptime() argument 1 must be str, not Timestamp

In [39]:
month_list = df1['Month'].tolist()
type(month_list[0])
# for i in range(len(month_list)):
#     month_list = datetime.datetime.strptime(month_list[i], "%m")

str

In [42]:
month_names=[]
import calendar

# ab = calendar.month_name(date_list[0])
# ab
# for i in range(len(date_list)):
#     month_names.append(calendar.month_name(date_list[i]))

# month_names

In [43]:
ab = calendar.month_name(1)
ab

TypeError: '_localized_month' object is not callable

In [44]:
date_list = df1['Date'].tolist()

In [45]:
month = {month: index for index, month in enumerate(calendar.month_abbr) if month}

In [46]:
month

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [632]:
# month_number = "3"
# datetime_object = datetime.datetime.strptime(month_number, "%m")
type(datetime_object)

datetime.datetime

In [99]:
month_number=[]
month_names=[]
for i in range(len(month_list)):
    month_number.append(datetime.datetime.strptime(month_list[i],'%m'))
    month_name = month_number[i].strftime('%B')
    month_names.append(month_name)

In [100]:
len(month_names)

204

In [102]:
df1['Month']=month_names
df1['Month']

0      November
1      December
2       January
3       January
4       January
5       January
6       January
7       January
8       January
9       January
10      January
11      January
12      January
13      January
14      January
15      January
16      January
17     February
18     February
19     February
20        March
21        March
22        March
23        March
24        March
25        March
26        March
27        March
28        March
29        March
         ...
174    November
175    November
176    November
177    November
178    November
179    November
180    November
181    November
182    November
183    November
184    November
185    November
186    November
187    November
188    November
189    November
190    November
191    November
192    November
193    November
194    December
195    December
196    December
197    December
198    December
199    December
200    December
201    December
202    December
203    December
Name: Month, Length: 204, dtype: object

In [125]:
len(df1.index)

204

In [104]:
import matplotlib
import seaborn as sns
import plotly.express as px
import ipywidgets

In [105]:
months = ['January','February','March','April','May','June','July','August','September','October','November','December']
Month_list = ipywidgets.Dropdown(description = 'Month', value = 'January', options=months)
Month_list

Dropdown(description='Month', options=('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August…

In [424]:
def plotting_fig(Month_list):
    da=df1[df1['Month']==Month_list]
#     if da.query("['Date'].year == 2019"):
#         fig = px.scatter(da,x= 'Date', y="Name", height=500, width = 950)
#         fig.update_yaxes(visible=False)
#         fig.update_layout(title='Unfortunate event in 2019', plot_bgcolor='rgba(145, 15, 5, 0.2)',xaxis=dict(showgrid=False),yaxis=dict(showticklabels=False,showgrid=False))
#         fig.update_traces(hovertemplate='Date: %{x} <br>%{y}')
#         fig.update_traces(mode="markers")
#         fig.show()
#     else:
    fig = px.scatter(da,x= 'Date', y="Name", height=500, width = 950)
    fig.update_yaxes(visible=False)
    fig.update_layout(title='Unfortunate events in 2020', plot_bgcolor='rgba(50, 150, 200, 0.2)',xaxis=dict(showgrid=False),yaxis=dict(showticklabels=False,showgrid=False))
    fig.update_traces(hovertemplate='Date: %{x} <br>%{y}')
    fig.update_traces(mode="markers+lines")
    fig.update_xaxes(showspikes=True)
    fig.update_yaxes(showspikes=True)
    fig.show()


widget = interactive(plotting_fig, Month_list=Month_list)
display(VBox([widget]))

VBox(children=(interactive(children=(Dropdown(description='Month', options=('January', 'February', 'March', 'A…

In [830]:
# df1['Description'][31]
df1['Name'][31]

'Singapore makes it illegal to leave  the house without wearing a mask'

In [807]:
cities = [' {0} '.format(elem) for elem in cities]
if 'Mississippi' in cities:
    print(True)
else:
    print(False)

False

In [842]:
match2=[]
for i in range(len(cities)):
#     if re.match(cities[i] ,desc[27]):
    if cities[i] in desc[23]:
        print(cities[i])
    elif country[i] in event[23]:
        print(country[i])
    break

In [831]:
df2.head()

,Name,Description,Time from,Time to,Group ID
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019 3 15 0 0,2020 9 17 22 4,NaN
1,Australian Bushfires,NaN,2019 9 1 0 0,2020 2 23 0 0,NaN
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019 10 14,2020 6 6 0 0,NaN
3,COVID-19 Pandemic,NaN,2019 11 17,2020 12 31 0 0,NaN
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019 12 31 0 0,2020 1 6 0 0,NaN

In [835]:
df3.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [63]:
country=df3['country'].tolist()
country = [' {0} '.format(elem) for elem in country]
country[0]

' Japan '

In [83]:
if ' Ireland ' in country:
    print(True)

True

In [65]:
event = [' {0} '.format(elem) for elem in event]
desc = [' {0} '.format(elem) for elem in desc]

In [66]:
event1=[]
for i in range(len(desc)):
    desc[i]=desc[i].replace('.',' ').replace(',','')
    event1.append(event[i].replace('.',' ').replace(',',''))

In [67]:
cities = [' {0} '.format(elem) for elem in cities]

In [129]:
cities

[' Tokyo ',
 ' Jakarta ',
 ' Delhi ',
 ' Mumbai ',
 ' Manila ',
 ' Shanghai ',
 ' Sao Paulo ',
 ' Seoul ',
 ' Mexico City ',
 ' Guangzhou ',
 ' Beijing ',
 ' Cairo ',
 ' New York ',
 ' Kolkata ',
 ' Moscow ',
 ' Bangkok ',
 ' Buenos Aires ',
 ' Shenzhen ',
 ' Dhaka ',
 ' Lagos ',
 ' Istanbul ',
 ' Osaka ',
 ' Karachi ',
 ' Bangalore ',
 ' Tehran ',
 ' Kinshasa ',
 ' Ho Chi Minh City ',
 ' Los Angeles ',
 ' Rio de Janeiro ',
 ' Nanyang ',
 ' Chennai ',
 ' Chengdu ',
 ' Lahore ',
 ' Paris ',
 ' London ',
 ' Linyi ',
 ' Tianjin ',
 ' Shijiazhuang ',
 ' Baoding ',
 ' Zhoukou ',
 ' Lima ',
 ' Hyderabad ',
 ' Bogota ',
 ' Weifang ',
 ' Nagoya ',
 ' Wuhan ',
 ' Heze ',
 ' Ganzhou ',
 ' Tongshan ',
 ' Chicago ',
 ' Handan ',
 ' Luanda ',
 ' Fuyang ',
 ' Kuala Lumpur ',
 ' Jining ',
 ' Dongguan ',
 ' Hanoi ',
 ' Pune ',
 ' Chongqing ',
 ' Changchun ',
 ' Zhumadian ',
 ' Ningbo ',
 ' Onitsha ',
 ' Nanjing ',
 ' Hefei ',
 ' Ahmadabad ',
 ' Hong Kong ',
 ' Khartoum ',
 ' Nantong ',
 ' Yancheng ',
 ' Foshan ',
 ' Nanning ',
 ' Hengyang ',
 " Xi'an ",
 ' Shenyang ',
 ' Tangshan ',
 ' Shaoyang ',
 ' Changsha ',
 ' Santiago ',
 ' Zhengzhou ',
 ' Zhanjiang ',
 ' Riyadh ',
 ' Cangzhou ',
 ' Dar es Salaam ',
 ' Maoming ',
 ' Huanggang ',
 ' Xinyang ',
 ' Shangrao ',
 ' Luoyang ',
 ' Bijie ',
 ' Yantai ',
 ' Quanzhou ',
 ' Hangzhou ',
 ' Miami ',
 ' Kunming ',
 ' Nanchong ',
 ' Zunyi ',
 " Lu'an ",
 ' Yichun ',
 ' Taizhou ',
 ' Liaocheng ',
 ' Qujing ',
 ' Xiangyang ',
 ' Surat ',
 ' Baghdad ',
 ' Qingdao ',
 ' Singapore ',
 ' Dallas ',
 ' Changde ',
 ' Dazhou ',
 ' Suzhou ',
 ' Philadelphia ',
 ' Jieyang ',
 ' Nairobi ',
 ' Nangandao ',
 ' Ankara ',
 " Tai'an ",
 ' Yulin ',
 ' Dezhou ',
 ' Houston ',
 ' Atlanta ',
 ' Rangoon ',
 ' Toronto ',
 ' Suihua ',
 ' Washington ',
 ' Qiqihar ',
 ' Jinhua ',
 ' Saint Petersburg ',
 ' Shantou ',
 ' Sydney ',
 ' Weinan ',
 ' Suqian ',
 ' Guadalajara ',
 ' Suzhou ',
 ' Fuzhou ',
 ' Zhaotong ',
 ' Pudong ',
 ' Yongzhou ',
 ' Belo Horizonte ',
 ' Zhangzhou ',
 ' Bozhou ',
 ' Melbourne ',
 ' Nanchang ',
 ' Xianyang ',
 ' Taizhou ',
 ' Surabaya ',
 ' Abidjan ',
 " Ji'an ",
 ' Mianyang ',
 ' Shaoxing ',
 ' Alexandria ',
 ' Yuncheng ',
 ' Pingdingshan ',
 " Huai'an ",
 ' Xinpu ',
 ' Guilin ',
 ' Huaihua ',
 ' Jiujiang ',
 ' Anqing ',
 ' Boston ',
 ' Huanglongsi ',
 ' Xiaoganzhan ',
 ' Changzhou ',
 ' Barcelona ',
 ' Chenzhou ',
 ' Wuxi ',
 ' Zibo ',
 ' Jiaxing ',
 ' Dalian ',
 ' Harbin ',
 ' Yangzhou ',
 ' Yibin ',
 ' Jiangmen ',
 ' Johannesburg ',
 ' Meizhou ',
 ' Chifeng ',
 ' Casablanca ',
 ' Guiyang ',
 ' Langfang ',
 ' Zhangjiakou ',
 ' Izmir ',
 ' Linfen ',
 ' Wenzhou ',
 ' Monterrey ',
 ' Luzhou ',
 ' Jiangguanchi ',
 ' Neijiang ',
 ' Phoenix ',
 ' Yanjiang ',
 ' Yiyang ',
 ' Zhaoqing ',
 ' Hengshui ',
 ' Guigang ',
 ' Xiaoxita ',
 ' Xiamen ',
 ' Chuzhou ',
 ' Fuzhou ',
 ' Amman ',
 ' Jeddah ',
 ' Sialkot City ',
 ' Huizhou ',
 ' Qingyuan ',
 ' Zhuzhou ',
 ' Wuhu ',
 ' Hechi ',
 ' Seattle ',
 ' Loudi ',
 ' Binzhou ',
 ' Liuzhou ',
 ' Yokohama ',
 ' Baojishi ',
 " Guang'an ",
 ' Hanzhong ',
 ' Kabul ',
 ' Zaozhuang ',
 ' Berlin ',
 ' Anshan ',
 ' Deyang ',
 ' Lanzhou ',
 ' Chengde ',
 ' San Francisco ',
 ' Puyang ',
 ' Suining ',
 ' Jiaozuo ',
 ' Bengbu ',
 ' Montreal ',
 ' Detroit ',
 ' Baicheng ',
 ' Busan ',
 ' Algiers ',
 ' Qincheng ',
 ' Taiyuan ',
 ' Lucknow ',
 ' Chaoyang ',
 ' Hechi ',
 ' Leshan ',
 ' Yulinshi ',
 ' Siping ',
 ' Madrid ',
 ' Jinan ',
 ' Shiyan ',
 ' Changzhi ',
 ' San Diego ',
 ' Faisalabad ',
 ' Santa Cruz ',
 ' Bazhou ',
 ' Zhongshan ',
 ' Zhenjiang ',
 ' Urumqi ',
 ' Tongliao ',
 ' Heyuan ',
 ' Tongren ',
 ' Qinzhou ',
 ' Jaipur ',
 ' Xinzhou ',
 ' Addis Ababa ',
 ' Giza ',
 ' Meishan ',
 ' Brasilia ',
 ' Mashhad ',
 ' Jinzhou ',
 ' Tieling ',
 ' Shaoguan ',
 ' Shanwei ',
 ' Minneapolis ',
 ' Kyiv ',
 ' Sanaa ',
 ' Quezon City ',
 ' Dingxi ',
 ' Salvador ',
 ' Incheon ',
 ' Bursa ',
 ' Ningde ',
 ' Tampa ',
 ' Daqing ',
 ' Birmingham ',
 ' Putian ',
 ' Huzhou ',
 ' Wuzhou ',
 ' Denver ',
 ' Rome ',
 ' La Paz ',
 ' Pyongyang ',
 ' Kano ',
 ' Taichung ',
 ' Omdurman ',
 ' Zigong ',
 ' Qinhuangdao ',
 ' Mudanjiang ',
 ' Huludao ',
 ' Kaohsiung ',
 ' Xiangtan ',
 ' Guayaquil ',
 ' Rizhao ',
 ' Manchester ',
 ' Cawnpore ',
 ' Baotou ',
 ' Taipei ',
 ' Nanping ',
 ' Longyan ',
 ' Ibadan ',
 ' Hohhot ',
 ' Chaozhou ',
 ' Antananarivo ',
 ' Longba ',
 ' Weihai ',
 ' Chattogram ',
 ' Santo Domingo ',
 ' Xuanzhou ',
 ' Sanming ',
 ' Brooklyn ',
 ' Medellin ',
 ' Brisbane ',
 ' Baoshan ',
 ' Dubai ',
 ' Luohe ',
 ' Qinbaling ',
 ' Mirzapur ',
 ' Guangyuan ',
 ' Cali ',
 ' Daegu ',
 ' Fortaleza ',
 ' Guatemala City ',
 ' Yaounde ',
 ' Douala ',
 ' Jilin ',
 ' Lianshan ',
 ' Lincang ',
 ' Antalya ',
 ' Tashkent ',
 ' Huangshi ',
 ' Bandung ',
 ' Nagpur ',
 ' Dandong ',
 ' Huainan ',
 ' Shangzhou ',
 ' Bekasi ',
 ' Ghaziabad ',
 ' Tijuana ',
 ' Jiamusi ',
 ' Yangjiang ',
 ' Accra ',
 ' Yuxi ',
 ' Fushun ',
 ' Anshun ',
 ' Vancouver ',
 ' Tangerang ',
 ' Konya ',
 ' Queens ',
 ' Yingkou ',
 ' Adana ',
 ' Medan ',
 ' Sanmenxia ',
 ' Indore ',
 " Ma'anshan ",
 ' Pingliang ',
 ' Quzhou ',
 ' Baku ',
 ' Gaoping ',
 ' Huaibei ',
 ' Xining ',
 " Yan'an ",
 ' Havana ',
 ' Phnom Penh ',
 ' Fukuoka ',
 ' Mogadishu ',
 ' Jincheng ',
 ' Lishui ',
 ' Qingyang ',
 ' Riverside ',
 ' Baltimore ',
 ' Haiphong ',
 ' Las Vegas ',
 ' Laibin ',
 ' Rawalpindi ',
 ' Kumasi ',
 ' Portland ',
 ' Vadodara ',
 ' Perth ',
 ' Puning ',
 ' San Antonio ',
 ' Haikou ',
 ' Vishakhapatnam ',
 ' Gaziantep ',
 ' Minsk ',
 ' St. Louis ',
 ' Bamako ',
 ' Quito ',
 ' Pingxiang ',
 ' Chongzuo ',
 ' Sanliurfa ',
 ' Kananga ',
 ' Peshawar ',
 ' Sapporo ',
 ' Jixi ',
 ' Caracas ',
 ' Fuxin ',
 ' Leeds ',
 ' Sacramento ',
 ' Blantyre ',
 ' Tainan ',
 ' Bucharest ',
 ' Wuwei ',
 ' Bhopal ',
 ' Curitiba ',
 ' Xiping ',
 ' Asuncion ',
 ' Saidu Sharif ',
 ' Vienna ',
 ' Aleppo ',
 ' Hamburg ',
 ' Meru ',
 ' Brazzaville ',
 ' Orlando ',
 ' Mersin ',
 ' Almaty ',
 ' Barranquilla ',
 ' Kyoto ',
 ' Manaus ',
 ' Liaoyang ',
 ' Baiyin ',
 ' San Jose ',
 ' Warsaw ',
 ' Shengli ',
 ' Lubumbashi ',
 ' Damascus ',
 ' Shuyangzha ',
 ' Shangqiu ',
 ' Esfahan ',
 ' Budapest ',
 ' Heihe ',
 ' Lusaka ',
 ' Diyarbakir ',
 ' Chinchvad ',
 ' Shuozhou ',
 ' Vitoria ',
 ' Cleveland ',
 ' Pittsburgh ',
 ' Mecca ',
 ' Patna ',
 ' Mosul ',
 ' Austin ',
 ' Sanzhou ',
 ' Conakry ',
 ' Kampala ',
 ' Ecatepec ',
 ' Cincinnati ',
 ' Makassar ',
 ' Yushan ',
 ' Ludhiana ',
 ' Newcastle ',
 ' Depok ',
 ' Zhongli ',
 ' Kansas City ',
 ' Rabat ',
 ' Ouagadougou ',
 ' Davao ',
 ' Manhattan ',
 ' Semarang ',
 ' Yinchuan ',
 ' Multan ',
 ' Caloocan City ',
 ' Harare ',
 ' Novosibirsk ',
 ' Chengtangcun ',
 ' Agra ',
 ' Karaj ',
 ' Indianapolis ',
 ' Jingdezhen ',
 ' Puebla ',
 ' Kalyan ',
 ' Madurai ',
 ' Gujranwala ',
 ' Benxi ',
 ' Jamshedpur ',
 ' Zhuhai ',
 ' Recife ',
 ' Columbus ',
 ' Tabriz ',
 ' Santiago ',
 ' Maracaibo ',
 ' Beihai ',
 ' Shuangyashan ',
 ' Kobe ',
 ' Charlotte ',
 ' Yucheng ',
 ' Changshu ',
 ' Ximeicun ',
 ' Jianguang ',
 ' Gwangju ',
 ' Xushan ',
 ' Guiping ',
 ' Nasik ',
 ' Porto Alegre ',
 ' Zhangjiajie ',
 ' Valencia ',
 ' Virginia Beach ',
 ' Daejeon ',
 ' Munich ',
 ' Yekaterinburg ',
 ' Auckland ',
 ' Yunfu ',
 ' Huangshan ',
 ' Huazhou ',
 ' Shiraz ',
 ' Leon de los Aldama ',
 ' Pizhou ',
 ' Palembang ',
 ' Kharkiv ',
 ' Kawanakajima ',
 ' Lianjiang ',
 ' Chizhou ',
 ' Leizhou ',
 ' Guyuan ',
 " Rui'an ",
 ' Birstall ',
 ' Muscat ',
 ' Hebi ',
 ' Jingling ',
 ' Bronx ',
 ' The Hague ',
 ' Owerri ',
 ' Sharjah ',
 ' Faridabad ',
 ' Ulaanbaatar ',
 ' Goiania ',
 ' Belem ',
 ' Kayseri ',
 ' Yueqing ',
 ' Belgrade ',
 ' Pingdu ',
 ' Aurangabad ',
 ' Yutan ',
 ' Wenling ',
 ' Islamabad ',
 ' Milwaukee ',
 ' Milan ',
 ' Sofia ',
 ' Adelaide ',
 ' Samsun ',
 ' Rajkot ',
 ' Khulna ',
 ' Cordoba ',
 ' Guarulhos ',
 ' Juarez ',
 ' Prague ',
 ' Montevideo ',
 ' Mbuji-Mayi ',
 ' Fuqing ',
 ' Xintai ',
 ' Doha ',
 ' Saitama ',
 ' Hiroshima ',
 ' Meerut ',
 ' Yushu ',
 ' Rongcheng ',
 ' Yangquan ',
 ' Haicheng ',
 ' Gaozhou ',
 ' Yingtan ',
 ' Huaiyin ',
 ' Wuzhong ',
 ' Jabalpur ',
 ' Thane ',
 ' Zhangye ',
 ' Rucheng ',
 ' Nizhniy Novgorod ',
 ' Comayaguela ',
 ' Yangshe ',
 ' Shaoyang ',
 ' Dhanbad ',
 ' Yichun ',
 ' Laiwu ',
 ' Kazan ',
 ' Dayan ',
 ' Suwon ',
 ' Jiangyin ',
 ' Yongcheng ',
 ' Calgary ',
 ' Can Tho ',
 ' Abuja ',
 ' Yiwu ',
 ' Mandalay ',
 ' Beidao ',
 ' Al Basrah ',
 ' Shuangshui ',
 ' Sevilla ',
 ' Vila Velha ',
 ' Allahabad ',
 ' Varanasi ',
 ' Tunis ',
 ' Chelyabinsk ',
 ' Mombasa ',
 ' Providence ',
 ' Qom ',
 ' Maiduguri ',
 ' Maputo ',
 ' Rosario ',
 ' Benin City ',
 ' Xinyu ',
 ' Ahvaz ',
 ' Dublin ',
 ' Jacksonville ',
 ' Medina ',
 ' Srinagar ',
 ' Omsk ',
 ' Huazhou ',
 ' Cilacap ',
 ' Xiantao ',
 ' Bandar Lampung ',
 ' Samara ',
 ' Guankou ',
 ' Ulsan ',
 ' Dingzhou ',
 ' Campinas ',
 ' Lianyuan ',
 ' Rongcheng ',
 ' Kaiyuan ',
 ' Nay Pyi Taw ',
 ' Dakar ',
 ' Zhuji ',
 ' Zapopan ',
 ' Leiyang ',
 ' Dadukou ',
 ' Quetta ',
 ' Amritsar ',
 ' Callao ',
 ' Aligarh ',
 ' Yingchuan ',
 ' Tegucigalpa ',
 ' Ciudad Nezahualcoyotl ',
 ' Tripoli ',
 ' Rostov ',
 ' Nezahualcoyotl ',
 ' Bhiwandi ',
 ' Zhoushan ',
 ' Tbilisi ',
 ' Ufa ',
 ' Fes ',
 ' Bien Hoa ',
 ' Mexicali ',
 ' Gwalior ',
 ' Ankang ',
 ' Ikare ',
 ' Hegang ',
 ' Salt Lake City ',
 ' Bhilai ',
 ' Yuyao ',
 " N'Djamena ",
 ' Hanchuan ',
 ' Gongzhuling ',
 ' Copenhagen ',
 ' Irbid ',
 ' Haora ',
 ' Cologne ',
 ' Krasnoyarsk ',
 ' Yicheng ',
 ' Mizhou ',
 ' Nashville ',
 ' Yerevan ',
 ' Ranchi ',
 ' Nur-Sultan ',
 ' Nouakchott ',
 ' Vereeniging ',
 ' Richmond ',
 ' Sao Luis ',
 ' San Pedro Sula ',
 ' Taixing ',
 ' Memphis ',
 ' Goyang ',
 ' Bezwada ',
 ' Edmonton ',
 ' Xishan ',
 ' Barquisimeto ',
 ' Sendai ',
 ' Voronezh ',
 ' Perm ',
 ' Changwon ',
 ' Zhongwei ',
 ' Shouguang ',
 ' Bogor ',
 ' Raleigh ',
 ' Cartagena ',
 ' Chandigarh ',
 ' Bishkek ',
 ' Amsterdam ',
 ' Matola ',
 ' Ogbomoso ',
 ' Ashgabat ',
 " E'zhou ",
 ' Maceio ',
 ' Niamey ',
 ' Managua ',
 ' Patam ',
 ' Tekirdag ',
 ' Linhai ',
 ' Shubra al Khaymah ',
 ' Monrovia ',
 ' Wafangdian ',
 ' Zhongxiang ',
 ' Shymkent ',
 ' New Orleans ',
 ' Volgograd ',
 ' Port-au-Prince ',
 ' Mysore ',
 ' Odesa ',
 ' Kathmandu ',
 ' Raipur ',
 ' Nice ',
 ' Arequipa ',
 ' Port Harcourt ',
 ' Rotterdam ',
 ' Louisville ',
 ' Zaoyang ',
 ' Shuizhai ',
 ' Kota ',
 ' Abu Dhabi ',
 ' Stockholm ',
 ' Ottawa ',
 ' Asmara ',
 ' Freetown ',
 ' Jerusalem ',
 ' Panama City ',
 ' Lome ',
 ' Libreville ',
 ' Zagreb ',
 ' Dushanbe ',
 ' Lilongwe ',
 ' Cotonou ',
 ' Vientiane ',
 ' Colombo ',
 ' Kigali ',
 ' Pretoria ',
 ' Bangui ',
 ' Winnipeg ',
 ' Quebec City ',
 ' Riga ',
 ' Oslo ',
 ' Chisinau ',
 ' Athens ',
 ' Bujumbura ',
 ' Helsinki ',
 ' Skopje ',
 ' Kuwait City ',
 ' Kingston ',
 ' Vilnius ',
 ' San Salvador ',
 ' Djibouti ',
 ' Lisbon ',
 ' Kitchener ',
 ' Tallinn ',
 ' Cape Town ',
 ' Bratislava ',
 ' Tirana ',
 ' Canberra ',
 ' Wellington ',
 ' Beirut ',
 ' Dodoma ',
 ' Halifax ',
 ' Bissau ',
 ' Juba ',
 ' Port Moresby ',
 ' Yamoussoukro ',
 ' Victoria ',
 ' Maseru ',
 ' Nicosia ',
 ' Windhoek ',
 ' Porto-Novo ',
 ' Sucre ',
 ' San Jose ',
 ' Ljubljana ',
 ' Sarajevo ',
 ' Nassau ',
 ' Bloemfontein ',
 ' Gaborone ',
 ' Paramaribo ',
 ' Dili ',
 ' Pristina ',
 ' Georgetown ',
 ' Malabo ',
 ' Brussels ',
 ' Male ',
 ' Podgorica ',
 ' Manama ',
 ' Port Louis ',
 ' New Delhi ',
 ' Bern ',
 ' Reykjavik ',
 ' Praia ',
 ' Luxembourg ',
 ' Sri Jayewardenepura Kotte ',
 ' Bridgetown ',
 ' Moroni ',
 ' Thimphu ',
 ' Mbabane ',
 ' Honiara ',
 ' Suva ',
 ' Castries ',
 ' Sao Tome ',
 ' Port-Vila ',
 ' Bandar Seri Begawan ',
 ' Monaco ',
 ' Gitega ',
 ' Port of Spain ',
 ' Apia ',
 ' Vaduz ',
 ' Banjul ',
 ' Tarawa ',
 ' Victoria ',
 ' Majuro ',
 ' Kingstown ',
 ' Nuku`alofa ',
 " Saint John's ",
 ' Andorra la Vella ',
 ' Belmopan ',
 ' Roseau ',
 ' Basseterre ',
 ' Pago Pago ',
 ' Valletta ',
 ' Palikir ',
 ' Funafuti ',
 ' Lobamba ',
 " Saint George's ",
 ' San Marino ',
 ' Al Quds ',
 ' Capitol Hill ',
 ' Hagta ',
 ' Ngerulmud ',
 ' Bareilly ',
 ' Quang Ha ',
 ' Kitaku ',
 ' Jodhpur ',
 ' Xingcheng ',
 ' Dongtai ',
 ' Joinvile ',
 ' Yingcheng ',
 ' Dnipro ',
 ' Glasgow ',
 ' Chiba ',
 ' Danyang ',
 ' Natal ',
 ' Naples ',
 ' Zhaodong ',
 ' Xibeijie ',
 ' Kirkuk ',
 ' Huilong ',
 ' Tongjin ',
 ' Oklahoma City ',
 ' Toulouse ',
 ' Denizli ',
 ' Dispur ',
 ' Coimbatore ',
 ' Luocheng ',
 ' Guwahati ',
 ' Shima ',
 ' Songnam ',
 ' Solapur ',
 ' Tangier ',
 ' Anqiu ',
 ' Feicheng ',
 ' Taishan ',
 ' Meishan ',
 ' Kisangani ',
 ' Khartoum North ',
 ' Aguascalientes ',
 ' Marrakech ',
 ' Nada ',
 ' Donetsk ',
 ' Taihecun ',
 ' Wuchuan ',
 ' Trujillo ',
 ' Cebu City ',
 ' Taihe ',
 ' Olinda ',
 ' Bridgeport ',
 ' Trichinopoly ',
 " Xin'an ",
 ' Padang ',
 ' Qingzhou ',
 ' Buffalo ',
 ' Xinyi ',
 ' Lichuan ',
 ' Daye ',
 ' Fort Worth ',
 ' Zhuanghe ',
 ' Hartford ',
 ' Ad Dammam ',
 ' Bucheon ',
 ' Lhasa ',
 ' Homs ',
 ' Jiaozhou ',
 ' Merida ',
 ' Dengtalu ',
 ' Zaria ',
 ' Hubli ',
 ' Abeokuta ',
 ' Tucson ',
 ' Krasnodar ',
 ' Natal ',
 ' Novo Hamburgo ',
 ' Chihuahua ',
 ' Klang ',
 ' Turin ',
 ' Jos ',
 ' Laiyang ',
 ' Jalandhar ',
 ' Campo Grande ',
 ' Sale ',
 ' Barinas ',
 ' Marseille ',
 ' Kaifeng Chengguanzhen ',
 ' Eskisehir ',
 ' Gaomi ',
 ' Ipoh ',
 " Hai'an ",
 ' Liverpool ',
 ' Zamboanga City ',
 ' Oran ',
 ' Southampton ',
 ' Weichanglu ',
 ' Pekanbaru ',
 ' Portsmouth ',
 ' Leping ',
 ' Erbil ',
 ' Kermanshah ',
 ' Hailun ',
 ' Yangchun ',
 ' Macheng ',
 ' Ilorin ',
 ' Teresina ',
 ' Omaha ',
 ' Yuci ',
 ' Saratov ',
 ' Iguacu ',
 ' El Paso ',
 ' Denpasar ',
 ' Dehui ',
 ' Naucalpan de Juarez ',
 ' Bhubaneshwar ',
 ' Tongchuan ',
 ' Cheongju ',
 ' Warri ',
 ' Pointe-Noire ',
 ' Rongjiawan ',
 ' San Luis Potosi ',
 ' Butterworth ',
 ' Bhayandar ',
 ' Renqiu ',
 ' Toluca ',
 ' Honolulu ',
 ' Queretaro ',
 ' Xindi ',
 " Wu'an ",
 ' Sao Bernardo do Campo ',
 ' Hermosillo ',
 ' Wutong ',
 ' Taguig City ',
 ' Saltillo ',
 ' Gaoyou ',
 ' Hejian ',
 ' Yiyang ',
 ' Puxi ',
 ' Zijinglu ',
 ' Xiashi ',
 ' Trabzon ',
 ' Joao Pessoa ',
 ' Dongyang ',
 ' McAllen ',
 ' Valencia ',
 ' Qingping ',
 ' Niigata ',
 ' Hamamatsu ',
 ' Morelia ',
 ' Pasig City ',
 ' Moradabad ',
 ' Culiacan ',
 ' Xiangxiang ',
 ' Malang ',
 ' Xingyi ',
 ' Chaohucun ',
 ' Fuyang ',
 ' Antipolo ',
 ' Nottingham ',
 ' Cencheng ',
 ' Krakow ',
 ' Hempstead ',
 ' Erzurum ',
 ' Al `Ayn ',
 ' Songzi ',
 ' Laixi ',
 ' Zhongba ',
 ' Qingnian ',
 ' Albuquerque ',
 ' Kaduna ',
 ' Tlalnepantla ',
 ' Xinhualu ',
 ' Guangshui ',
 ' Frankfurt ',
 ' Samarinda ',
 ' Changhua ',
 ...]

In [436]:
# event1[]
desc[18]

' On February 17 the Pearl River in Mississippi reached its third-highest crest causing immense flooding  The flooding has destroyed hundreds of homes and businesses  Elsewhere near the Tennessee River landslides have destroyed at least two homes  (CNN) '

In [234]:
match2=[]

In [235]:
for j in range(len(event1)):
    for i in range(len(cities)):
#     if re.match(cities[i] ,desc[27]):
        if cities[i] in desc[j]:
#             print(cities[i])
            match2.append(cities[i])
            break
        elif country[i] in event1[j]:
#             print(country[i])
            match2.append(country[i])
            break
#         else:
# #             print('Not present')
#             match2.append(' ')
#             break

In [237]:
len(match2)

167

In [238]:
match2

[' China ',
 ' Vatican City ',
 ' Baghdad ',
 ' Puerto Rico ',
 ' Tehran ',
 ' China ',
 ' Thailand ',
 ' Pakistan ',
 ' China ',
 ' Wuhan ',
 ' Turkey ',
 ' Turkey ',
 ' Pearl ',
 ' March ',
 ' Brazil ',
 ' Italy ',
 ' Italy ',
 ' Kildare ',
 ' Louisville ',
 ' March ',
 ' Croatia ',
 ' Street ',
 ' Singapore ',
 ' Ecuador ',
 ' Ukraine ',
 ' Street ',
 ' France ',
 ' China ',
 ' New York ',
 ' March ',
 ' Detroit ',
 ' Puerto Rico ',
 ' Washington ',
 ' Venezuela ',
 ' Nevada ',
 ' India ',
 ' Karachi ',
 ' Minneapolis ',
 ' University ',
 ' March ',
 ' India ',
 ' Hurley ',
 ' Mbandaka ',
 ' Washington ',
 ' India ',
 ' Delhi ',
 ' Hong Kong ',
 ' Russia ',
 ' London ',
 ' Bristol ',
 ' Brazil ',
 ' New Zealand ',
 ' Minneapolis ',
 ' Street ',
 ' Minneapolis ',
 ' Nigeria ',
 ' Seattle ',
 ' Beijing ',
 ' London ',
 ' India ',
 ' Oxford ',
 ' Moon ',
 ' Middle ',
 ' London ',
 ' Florida ',
 ' Seoul ',
 ' University ',
 ' Malawi ',
 ' Los Angeles ',
 ' Christchurch ',
 ' Republic ',
 ' Karachi ',
 ' Leicester ',
 ' Auckland ',
 ' China ',
 ' London ',
 ' Kazakhstan ',
 ' Japan ',
 ' Israel ',
 ' Florida ',
 ' Mongolia ',
 ' Melbourne ',
 ' China ',
 ' Beijing ',
 ' Ukraine ',
 ' Nigeria ',
 ' Hong Kong ',
 ' Manchester ',
 ' Manchester ',
 ' Riverside ',
 ' Beirut ',
 ' August ',
 ' India ',
 ' New York ',
 ' Israel ',
 ' Mali ',
 ' August ',
 ' Afghanistan ',
 ' China ',
 ' Rochester ',
 ' Wonsan ',
 ' Portland ',
 ' India ',
 ' Israel ',
 ' Paris ',
 ' Paris ',
 ' Paris ',
 ' As ',
 ' Venezuela ',
 ' Pensacola ',
 ' Belarus ',
 ' Paris ',
 ' Azerbaijan ',
 ' University ',
 ' Togo ',
 ' United States ',
 ' We ',
 ' We ',
 ' Bethesda ',
 ' France ',
 ' Conley ',
 ' Delta ',
 ' Azerbaijan ',
 ' Thailand ',
 ' Afghanistan ',
 ' Warsaw ',
 ' Sudan ',
 ' Southampton ',
 ' Santiago ',
 ' Boulder ',
 ' France ',
 ' Wuhan ',
 ' Elizabeth ',
 ' France ',
 ' Tanzania ',
 ' Belarus ',
 ' Kabul ',
 ' Vienna ',
 ' Vienna ',
 ' Ethiopia ',
 ' Paris ',
 ' Paris ',
 ' Carolina ',
 ' Central ',
 ' Philadelphia ',
 ' Street ',
 ' Robinson ',
 ' Mexico ',
 ' Jeddah ',
 ' Montreal ',
 ' Pantanal ',
 ' Ethiopia ',
 ' Morecambe ',
 ' Bolivia ',
 ' Martin ',
 ' Ethiopia ',
 ' Milwaukee ',
 ' Bangkok ',
 ' Paris ',
 ' Australia ',
 ' Namibia ',
 ' Coventry ',
 ' Canada ',
 ' Drug ',
 ' Brussels ',
 ' New York ',
 ' Wilmington ']

In [139]:
df1['Quarter'] = df1['Date'].dt.quarter

In [164]:
df1['Month-num'] = df1['Date'].dt.month

In [185]:
df1.head(25)

,Name,Description,Month,Date,Quarter,Month-num
0,COVID-19 Initial Outbreak,The first case of someone suffering from COVID...,November,2019-11-17,4,11
1,China first alerts the WHO of a virus in Wuhan,Chinese authorities alerted the World Health O...,December,2019-12-31,4,12
2,Pope apologises for slapping woman's hand,Pope Francis has apologized for slapping a wom...,January,2020-01-01,1,1
3,Iranian major general Qasem Soleimani assassi...,"On 3 January 2020, a United States drone strik...",January,2020-01-03,1,1
4,5.6M Earthquake in Puerto Rico,"On January 6, a magnitude 5.8 earthquake struc...",January,2020-01-06,1,1
5,Ukraine International Airlines Flight 752 shot...,"On 8 January 2020, the Boeing 737-800 operatin...",January,2020-01-08,1,1
6,First coronavirus death in China,China reports its very first death from the dr...,January,2020-01-11,1,1
7,Severe Weather in Southern US kills 11,"On January 12, severe weather (high winds and ...",January,2020-01-12,1,1
8,Coronavirus reaches Thailand,China reports its very first death from the dr...,January,2020-01-13,1,1
9,"Avalanche in Pakistan, 77 dead","On January 15, multiple avalanches in Pakistan...",January,2020-01-15,1,1
10,First known COVID-19 cases outside Asia,"At this stage the US, France, Australia and So...",January,2020-01-22,1,1
11,Wuhan Locked Down,The entire city of Wuhan is cut-off from the r...,January,2020-01-23,1,1
12,"6.7M Earthquake in Turkey 22 dead, 1000 wounded","On January 24, an earthquake struck Turkey, ki...",January,2020-01-24,1,1
13,Kobe Bryant died in a helicopter crash,NaN,January,2020-01-26,1,1
14,"Virus labelled an ""international concern"" by t...",The virus had gone from being an unidentified ...,January,2020-01-30,1,1
15,First COVID-19 case in the UK,European countries including the UK begin to r...,January,2020-01-31,1,1
16,UK Leave the EU (Brexit),The UK formally left the EU on 31 January 2020...,January,2020-01-31,1,1
17,"Avalanche in Turkey, 41 dead","On February 6, two avalanches struck a Turkey ...",February,2020-02-06,1,2
18,"Pearl River in Mississippi, US, floods","On February 17, the Pearl River in Mississippi...",February,2020-02-17,1,2
19,Ahmaud Arbery killed while jogging,Ahmaud Arbery was jogging in February when he ...,February,2020-02-23,1,2
20,Deadly Tornadoes Sweep Tennessee. State of em...,"On March 3, two tornadoes swept through Tennes...",March,2020-03-03,1,3
21,"Heavy Rains in Brazil, 32 dead","On March 5, heavy rains occurred in Brazil, ki...",March,2020-03-05,1,3
22,Italy on lockdown,16 million people in northern Italy are places...,March,2020-03-08,1,3
23,All sport in Italy suspended because of outbreak,All sport in Italy has been suspended until at...,March,2020-03-09,1,3
24,WHO declared the coronavirus outbreak a pandemic.,A day that will likely be remembered for a lon...,March,2020-03-11,1,3

In [453]:
# fig = px.line(df1,x= 'Quarter', y="Name", height=500, width = 950)
# fig.update_yaxes(visible=False)
# fig.update_layout(title='Events per Quarter', plot_bgcolor='rgba(100, 15, 5, 0.2)',xaxis=dict(showgrid=False),yaxis=dict(showticklabels=False,showgrid=False))
# # fig.update_traces(hovertemplate='Date: %{x} <br>%{y}')
# fig.update_traces(mode="markers")
# fig.show()fig.update_traces(textposition='inside', textinfo='percent',insidetextorientation='radial')

# fig = px.pie(df1, values='Quarter', names='Quarter' , title='Events per Quarter')
fig = px.sunburst(df1, path=['Quarter', 'Month'], title='Events per Quarter')
# fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))
fig.update_layout(title='Quarterly Depiction of Events around the World',paper_bgcolor='rgba(101,200,150,0.2)', plot_bgcolor='rgba(0,0,0,0)',)
fig.update_traces(insidetextorientation='radial',hovertemplate= '<b>Quarter: %{label} </b> <br> Number of Unfortunate Events: %{value}',
                  marker=dict(colors=['Quarter'], line=dict(color='#000000', width=1)))
fig.show()

In [336]:
df2.head()

,Name,Description,Time from,Time to,Group ID
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019 3 15 0 0,2020 9 17 22 4,NaN
1,Australian Bushfires,NaN,2019 9 1 0 0,2020 2 23 0 0,NaN
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019 10 14,2020 6 6 0 0,NaN
3,COVID-19 Pandemic,NaN,2019 11 17,2020 12 31 0 0,NaN
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019 12 31 0 0,2020 1 6 0 0,NaN

In [337]:
df2['Timefrom']=df2['Time from'].astype('str')
df2['Timeto']=df2['Time to'].astype('str')
del df2['Time from']
del df2['Time to']
df2[['Year','Month','Date','H','S']]=df2.Timefrom.str.split(expand=True)

In [338]:
df2.head()

,Name,Description,Group ID,Timefrom,Timeto,Year,Month,Date,H,S
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,NaN,2019 3 15 0 0,2020 9 17 22 4,2019,3,15,0,0
1,Australian Bushfires,NaN,NaN,2019 9 1 0 0,2020 2 23 0 0,2019,9,1,0,0
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,NaN,2019 10 14,2020 6 6 0 0,2019,10,14,None,None
3,COVID-19 Pandemic,NaN,NaN,2019 11 17,2020 12 31 0 0,2019,11,17,None,None
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",NaN,2019 12 31 0 0,2020 1 6 0 0,2019,12,31,0,0

In [339]:
df2.columns[5:8]

Index(['Year', 'Month', 'Date'], dtype='object')

In [340]:
df2['Date_from'] = df2[df2.columns[5:8]].apply(
    lambda x: '-'.join(x.dropna().astype(str)),
    axis=1)

In [341]:
df2.head()

,Name,Description,Group ID,Timefrom,Timeto,Year,Month,Date,H,S,Date_from
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,NaN,2019 3 15 0 0,2020 9 17 22 4,2019,3,15,0,0,2019-3-15
1,Australian Bushfires,NaN,NaN,2019 9 1 0 0,2020 2 23 0 0,2019,9,1,0,0,2019-9-1
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,NaN,2019 10 14,2020 6 6 0 0,2019,10,14,None,None,2019-10-14
3,COVID-19 Pandemic,NaN,NaN,2019 11 17,2020 12 31 0 0,2019,11,17,None,None,2019-11-17
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",NaN,2019 12 31 0 0,2020 1 6 0 0,2019,12,31,0,0,2019-12-31

In [342]:
del df2['Year']
del df2['Date']
del df2['H']
del df2['S']
df2['Month_from'] = df2['Month']

In [343]:
del df2["Month"]

In [344]:
df2.head()

,Name,Description,Group ID,Timefrom,Timeto,Date_from,Month_from
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,NaN,2019 3 15 0 0,2020 9 17 22 4,2019-3-15,3
1,Australian Bushfires,NaN,NaN,2019 9 1 0 0,2020 2 23 0 0,2019-9-1,9
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,NaN,2019 10 14,2020 6 6 0 0,2019-10-14,10
3,COVID-19 Pandemic,NaN,NaN,2019 11 17,2020 12 31 0 0,2019-11-17,11
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",NaN,2019 12 31 0 0,2020 1 6 0 0,2019-12-31,12

In [345]:
df2[['Year','Month','Date','H','S']]=df2.Timeto.str.split(expand=True)
df2.head()

,Name,Description,Group ID,Timefrom,Timeto,Date_from,Month_from,Year,Month,Date,H,S
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,NaN,2019 3 15 0 0,2020 9 17 22 4,2019-3-15,3,2020,9,17,22,4
1,Australian Bushfires,NaN,NaN,2019 9 1 0 0,2020 2 23 0 0,2019-9-1,9,2020,2,23,0,0
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,NaN,2019 10 14,2020 6 6 0 0,2019-10-14,10,2020,6,6,0,0
3,COVID-19 Pandemic,NaN,NaN,2019 11 17,2020 12 31 0 0,2019-11-17,11,2020,12,31,0,0
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",NaN,2019 12 31 0 0,2020 1 6 0 0,2019-12-31,12,2020,1,6,0,0

In [346]:
df2.columns[7:10]

Index(['Year', 'Month', 'Date'], dtype='object')

In [347]:
df2['Date_To'] = df2[df2.columns[7:10]].apply(
    lambda x: '-'.join(x.dropna().astype(str)),
    axis=1)
del df2['Year']
del df2['Date']
del df2['H']
del df2['S']
df2['Month_To'] = df2['Month']
del df2['Month']
del df2['Group ID']
df2.head()

,Name,Description,Timefrom,Timeto,Date_from,Month_from,Date_To,Month_To
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019 3 15 0 0,2020 9 17 22 4,2019-3-15,3,2020-9-17,9
1,Australian Bushfires,NaN,2019 9 1 0 0,2020 2 23 0 0,2019-9-1,9,2020-2-23,2
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019 10 14,2020 6 6 0 0,2019-10-14,10,2020-6-6,6
3,COVID-19 Pandemic,NaN,2019 11 17,2020 12 31 0 0,2019-11-17,11,2020-12-31,12
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019 12 31 0 0,2020 1 6 0 0,2019-12-31,12,2020-1-6,1

In [348]:
del df2['Timefrom']
del df2['Timeto']

In [349]:
df2.head()

,Name,Description,Date_from,Month_from,Date_To,Month_To
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019-3-15,3,2020-9-17,9
1,Australian Bushfires,NaN,2019-9-1,9,2020-2-23,2
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019-10-14,10,2020-6-6,6
3,COVID-19 Pandemic,NaN,2019-11-17,11,2020-12-31,12
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019-12-31,12,2020-1-6,1

In [350]:
import numpy as np
df2 = df2.replace(np.nan, '', regex=True)

In [351]:
df2.loc[df2['Description']=="",'Description']=df2["Name"]

In [352]:
df2

,Name,Description,Date_from,Month_from,Date_To,Month_To
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019-3-15,3,2020-9-17,9
1,Australian Bushfires,Australian Bushfires,2019-9-1,9,2020-2-23,2
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019-10-14,10,2020-6-6,6
3,COVID-19 Pandemic,COVID-19 Pandemic,2019-11-17,11,2020-12-31,12
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019-12-31,12,2020-1-6,1
5,Taal Volcano in Philippines erupts,"The eruption of Taal Volcano in Batangas, Phil...",2020-1-12,1,2020-1-19,1
6,President Trump Impeachment trial,"The impeachment trial of Donald Trump, the 45t...",2020-1-16,1,2020-2-5,2
7,North East Delhi Riots,"The 2020 Delhi riots, or North East Delhi riot...",2020-2-23,2,2020-2-29,2
8,Stock Market Crash,The stock market crash of 2020 began on Monday...,2020-3-9,3,2020-3-16,3
9,BLM Protests and riots start after George Floy...,The area around the location at which Floyd di...,2020-5-26,5,2020-10-12,10
10,California Wild Fires,"On August 18, California’s governor declared a...",2020-8-3,8,2020-10-26,10
11,Belarus Protests,"On August 9, protests in Belarus erupted after...",2020-8-9,8,2020-9-17,9
12,Protests in Kyrgyzstan,"On October 7, protesters and vigilante groups ...",2020-10-7,10,2020-10-10,10
13,Protests Emerge in Nigeria,"On October 8, mass protests emerged in Nigeria...",2020-10-8,10,2020-10-21,10
14,Kilimanjaro Wildfire,"On October 13, a fire broke out on the slopes ...",2020-10-13,10,2020-10-21,10
15,Tropical Storm Nangka made landfall \nin Cambo...,"On October 13, Storm Nangka made landfall in C...",2020-10-13,10,2020-10-21,10
16,Wildfires Emerge in Colorado and Utah,"On October 19, it was reported that at least 4...",2020-10-19,10,2020-10-25,10
17,"US Election protests, pepper spray,\ncourt rul...","On November 1, a group of marchers in North Ca...",2020-11-1,11,2020-11-6,11

In [353]:
df2['Name']=df2['Name'].replace('\n',' ', regex=True)
df2['Description']=df2['Description'].replace('\n',' ', regex=True)
df2.head()

,Name,Description,Date_from,Month_from,Date_To,Month_To
0,Hong Kong Protests - March 2019 onwards,The ongoing 2019–20 Hong Kong protests were tr...,2019-3-15,3,2020-9-17,9
1,Australian Bushfires,Australian Bushfires,2019-9-1,9,2020-2-23,2
2,Chilean protests - Oct 2019 onwards,Civil protests have taken place throughout Chi...,2019-10-14,10,2020-6-6,6
3,COVID-19 Pandemic,COVID-19 Pandemic,2019-11-17,11,2020-12-31,12
4,Floods in Jakarta,"On January 6, the death toll in Jakarta has ri...",2019-12-31,12,2020-1-6,1

In [290]:
# df2['Date_from']= pd.to_datetime(df2['Date_from'])
# df2['Date_To'] = pd.to_datetime(df2['Date_To'])

In [354]:
Event_info = df2['Name'].tolist()
type(Event_info)

list

In [355]:
Event_infos = ipywidgets.Dropdown(description = 'Event Name', value = None, options=Event_info)
Event_infos

Dropdown(description='Event Name', options=('Hong Kong Protests - March 2019 onwards', 'Australian Bushfires',…

In [356]:
import plotly.graph_objs as go

In [452]:
fig = go.Figure()
for (Date_from, Date_To, Name) in zip(df2["Date_from"], df2["Date_To"], df2["Name"]):
#     name = f"{Date_from} to {Date_To}"
    fig.add_trace(go.Scatter(x=[Date_from,Date_To], y=[Name,Name], name = name,mode='markers+lines',showlegend=False))
    fig.update_layout(title='Events in the world',paper_bgcolor='rgba(101,200,150,0.2)', plot_bgcolor='rgba(0,0,0,0)',xaxis=dict(showgrid=False,title='Timeline'),yaxis=dict(showticklabels=False,showgrid=False,title='Events'))
    fig.update_traces(hovertemplate='<b> Date: %{x} </b> <br> %{y}<extra></extra>')
    fig.update_layout(hoverlabel=dict(bgcolor="white",font_size=16,font_family="Rockwell"))
#     fig.update_traces(marker=dict(color=None,line=dict(color='#000000', width=1)))


fig.show()